<footer id="footer" class="footer gray-bg">
  <div class="container text-center">
    <p class="copyright">
      <a class="copy-link scroll-top" href="">&copy; Galas At Home</a><br />
    </p>
  </div>
</footer>