<% if defined?(show_cta) && show_cta == true %>
  <div class="container mt-60">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="action-box-title">Like our Creative Projects?</h3>
        <%#<p class="action-box-content">classical Latin literature from 45 BC, making it over 2000 years old Richard McClintock The generated.</p>%>
      </div>
      <div class="col-sm-4 text-right">
        <a class="scroll-down btn btn-xlg btn-color-outline" href="https://calendly.com/galas-at-home/exploration">Free Exploration Call</a>
      </div>
    </div>
  </div>
<% end %>