<section id="cameo-partner" class="section-padding gray-bg pos-section">
  <div class="page-triangle white-bg"></div>

  <div class="container text-center mb-60">
    <h1>Official Cameo Impact Partner</h1>
    <p>We love incorporating memorable shoutouts from celebrities into your event. We partnered up with Cameo for preferrred pricing.</p>
  </div>

  <div class="container text-center mb-20">
    <%= image_tag 'partners/cameo.png', class: 'img-fluid' %>
  </div>
</section>
