<section id="intro" class="intro bg-image" data-background-img="<%= image_path 'intro-bg.jpg' %>">
  <!--Video Bg -->
  <div class="intro-media-wraper overlay-dark40">
    <div id="video" class="ytp-player" data-property="{videoURL:'https://www.youtube.com/watch?v=jHJKv2rBv8Q',containment:'#intro', showControls:false, autoPlay:true, loop:true, mute:true, startAt:6, opacity:1, addRaster:false, quality:'default'}"></div>
  </div>
  <!-- End Video Bg -->

  <div class="js-fullscreen-height dark-bg intro-caption-top container">
    <div class="intro-content">
      <div class="intro-content-inner">
        <div class="intro-play-icon">
          <a class="video-popup" href="https://www.youtube.com/watch?v=jHJKv2rBv8Q">
            <span class="play-icon-lg">
              <i class="fa fa-play"></i>
            </span>
          </a>
        </div>
        <h1 class="intro-title mb-40">Galas At Home</h1>
        <h5 class="alt-title intro-sub-title">Turn Key Virtual Fundraiser</h5>
      </div>
    </div>
  </div>

</section>
