<section id="our-process" class="section-padding gray-bg pos-section">
  <div class="page-triangle white-bg"></div>

  <div class="container text-center mb-60">
    <h1>Our Process</h1>
    <p class="lead-lg max-width-700">The Galas At Home process takes you from concept all the way to an event your donor base will love</p>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3 content-box mb-sm-45">
        <div class="alt-icon-top icon-gray">
          <i class="icon-genius"></i>
        </div>
        <h4 class="alt-title">1. Creative Run of Show</h4>
        <p>We start with one of two meetings where we work together on a run of show that communicates your story, is fun for your guests and resonates with your organizations culture. This is usually done with our lead producer, creative director and your dedicated event producer.</p>
      </div>
      <div class="col-md-3 content-box mb-sm-45">
        <div class="alt-icon-top icon-gray">
          <i class="icon-genius"></i>
        </div>
        <h4 class="alt-title">2. Event website</h4>
        <p>Our auction manager creates an event website to collect registrations and/or sells tickets. All of this using your own branding.</p>
      </div>
      <div class="col-md-3 content-box mb-sm-45">
        <div class="alt-icon-top icon-gray">
          <i class="icon-tools"></i>
        </div>
        <h4 class="alt-title">3. Event Production</h4>
        <p>With our event producer and technical director, we take care of all the small details leading up to your event including building your slides, organizing your dry runs, auction items, paddle raise, optimizing your videos for livestreaming and making sure all your speakers look good.</p>
      </div>
      <div class="col-md-3 content-box">
        <div class="alt-icon-top icon-gray">
          <i class="icon-camera"></i>
        </div>
        <h4 class="alt-title">4. The live event</h4>
        <p>It's all hands on deck with our team managing your livestream, your giving/auction software and providing technical support in the live chat for any issues your guests might be having</p>
      </div>
    </div>
  </div>
</section>