<section class="ptb-60 black-bg text-center dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 mb-sm-30">
        <div class="contact-info">
          <div class="alt-icon-top alt-icon-color">
            <i class="icon-phone"></i>
          </div>
          <p class="large">1-888-4MY-GALA</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 mb-sm-30">
        <div class="contact-info">
          <div class="alt-icon-top alt-icon-color">
            <i class="icon-envelope"></i>
          </div>
          <p class="large">hello@galasathome.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
