<section id="newsletter" class="section-padding gray-bg pos-section">
  <!-- page triangle shape -->
  <div class="page-triangle white-bg"></div>
  <!-- End page triangle shape -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <form id="subscribe-form" role="form" action="subscribe.php" method="post" novalidate="novalidate">
          <h2 class="mb-30">Subscribe to Our Newsletter</h2>
          <div class="form-field-wrapper">
            <input type="text" class="newsletter-input input-lg mb-15 subscribe-form-control" placeholder="Name" name="subscribe-name" id="subscribe-name" />
            <input type="email" class="newsletter-input input-lg form-full mb-15 subscribe-form-control required" placeholder="Email" name="subscribe-email" id="subscribe-email" aria-required="true" />
            <button type="submit" class="btn btn-lg btn-black mb-15">Subscribe</button>
          </div>
          <p><i class="fa fa-info-circle"></i>&nbsp;Being the first to know always feels great, subscribe to be notifed.</p>
        </form>
      </div>
    </div>
  </div>
</section>